/* Estilos generales 

 VISITA https://github.com/laravel-mix/laravel-mix para saber como compilar css y javascript para usarlos despes dentro de la app
 PASOS: 
 1-. modifica este archivo que copiara de resource a la carpeta public 
 2-. comando npx mix
*/

/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  section {
    padding: 40px;
  }
  
  section h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  section p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  section ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  form label, form textarea, form input[type="text"], form input[type="email"], form input[type="submit"] {
    display: block;
    margin-bottom: 10px;
  }
  
  form input[type="text"],
  form input[type="email"],
  form textarea {
    width: 100%;
    padding: 10px;
  }
  
  form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  } */

  /* h1 {
    color: red;
  } */


  /* Aplica estilos al elemento <ul> que contiene los elementos <li> */
  .menu {
    /* list-style: none; Quita los estilos de lista predeterminados */
    padding: 0; /* Quita el relleno predeterminado */
    text-align: right; /* Alinea el texto a la derecha */
  }
  
  /* Aplica estilos a los elementos <li> dentro del <ul> */
  .menu li {
    display: inline-block; /* Hace que los elementos <li> se muestren en línea */
    margin-right: 10px; 
    color: gold;/* Agrega un margen a la derecha para separar los elementos <li> */
  }
  
  /* Aplica estilos a los enlaces <a> dentro de los elementos <li> */
  .menu li a {
    text-decoration: none; /* Quita la decoración de subrayado del enlace */
    color: gold; /* Cambia el color del texto del enlace */
  }

  .title {
    text-align: left; /* Aplica centrado horizontal */
    color: gold;
    text-decoration-color: aqua;
  }


  /* Ejemplos css basico
    definir varios atributos separados por ; 
    y editar varios elementos con un mismo atributo
  */

  h1{
    font-size: 60xp;
    text-align: center;
  }

  p,li{
    color: goldenrod;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }

   /* Ejemplos css basico
    definir estilo por medio de id 
  */

  #mi-id{
    color: aqua;
  }

  /* Los elementos en la página con la clase especificada (una clase puede aparecer varias veces en una página). */

  .mi-clase{
    color: goldenrod;
  }

  /* Los elementos en una página con el atributo especificado. */

  img[src]{
    height: 20;
  }

  /* Los elementos especificados, pero solo cuando esté en el estado especificado, por ejemplo cuando el puntero esté sobre él. */
  a{
    color: red;
  }
  a:hover{
    color: green;
  }

  a:after{
    color: blue;
    height: 20;
  }

  /*
    Usar font descargados (Fonts)
    Otra forma se usan en home.blade.php de test linkeando el url de donde puedo usar el font.
   */

   @font-face {
    font-family: myFistFont;
    src: url("../fonts/Oswald-VariableFont_wght.ttf");
   }

   /* html{
    color: white;
    font-size: 10xp;
    font-family: "Open Sans", sans-serif;
   } */
  
  
  
  